h1,
h2,
h3 {
  margin: 2px;
  color: #1a1a1a;
}

h3 {
  font-size: 1.17em;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.controls {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  padding: 5px 25px;
  background: #FFFFFF;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
}

a.btn:active {
  background: #4554FF;
  color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.score {
  font-size: 40px;
  margin: 0 25px;
}

#container {
  position: relative;
  width: 530px;
  height: 530px;
  background: #313131;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px #111;
}

.colors {
  width: 235px;
  height: 235px;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.7), inset -2px -2px 8px 6px rgba(0, 0, 0, 0.3), inset 3px 3px 8px 5px rgba(255, 255, 255, 0.4);
}

.green {
  background: #2e7d32;
  border-top-left-radius: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.green:hover {
  background: #60ad5e;
}

.green.active {
  background: #0dff00;
}

.red {
  background: #c62828;
  border-top-right-radius: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

.red:hover {
  background: #ff5f52;
}

.red.active {
  background: red;
}

.yellow {
  background: #fbc02d;
  border-bottom-left-radius: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.yellow:hover {
  background: #fff263;
}

.yellow.active {
  background: #fff700;
}

.blue {
  background: #1565c0;
  border-bottom-right-radius: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.blue:hover {
  background: #5e92f3;
}

.blue.active {
  background: dodgerblue;
}

.colors:hover {
  cursor: pointer;
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 2px 19px #313131;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 1.5em;
  font-size: 2em;
}

@media screen and (max-width: 550px) {
  #container,
  .leaderboard,
  .controls {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
}

