:host {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

* {
  outline: none;
}

h3 {
  margin: 10px;
  color: #1a1a1a;
  font-size: 1.17em;
  font-weight: normal;
}

.hs-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

button {
  margin: 10px 0;
  padding: 5px 25px;
  background: #fff;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

button:hover {
  background: #2e7d32;
  color: #fff;
  border: 1px solid #EEEEEE;
}

button#resetgame:hover {
  background: #c62828;
}

button:disabled,
button[disabled],
button#resetgame:disabled,
button#resetgame[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.score {
  font-size: 40px;
}

#gamepad {
  position: relative;
  width: 500px;
  height: 500px;
  background: #313131;
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: repeat(2, 240px);
  grid-gap: 20px 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px #111;
}

.colors {
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.7), inset -2px -2px 8px 6px rgba(0, 0, 0, 0.3), inset 3px 3px 8px 5px rgba(255, 255, 255, 0.4);
  -webkit-tap-highlight-color: transparent;
}

.green {
  background: #2e7d32;
  border-top-left-radius: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.green.active {
  background: rgb(13, 255, 0);
}

.red {
  background: #c62828;
  border-top-right-radius: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

.red.active {
  background: rgb(255, 0, 0);
}

.yellow {
  background: #fbc02d;
  border-bottom-left-radius: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.yellow.active {
  background: rgb(255, 247, 0);
}

.blue {
  background: #1565c0;
  border-bottom-right-radius: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.blue.active {
  background: rgb(30, 144, 255);
}

.colors:hover {
  cursor: pointer;
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 2px 19px #313131;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 1.3em;
  font-size: 1.7em;
}

@media screen and (max-width: 534px) {
  #gamepad {
    transform: scale(0.8);
  }
  #center {
    width: 170px;
    height: 170px;
    line-height: 1.5em;
    font-size: 1.6em;
  }
}
@media screen and (max-width: 440px) {
  #gamepad {
    width: 320px;
    height: 320px;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
  }
  #center {
    width: 100px;
    height: 100px;
    line-height: 1.5em;
    font-size: 1em;
  }
}
@media screen and (max-width: 414px) {
  #gamepad {
    width: 320px;
    height: 320px;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
  }
  #center {
    width: 100px;
    height: 100px;
    line-height: 1.5em;
    font-size: 1em;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
  #gamepad {
    width: 320px;
    height: 320px;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
  }
  #center {
    width: 100px;
    height: 100px;
    line-height: 1.5em;
    font-size: 1em;
  }
}
