// @import "../node_modules/normalize-scss/sass/normalize/import-now";

// * {
//     outline: none;
// }

$green: #2e7d32;
$green-light: #60ad5e;
$green-dark: #005005;
$red: #c62828;
$red-light: #ff5f52;
$blue: #1565c0;
$blue-light: #5e92f3;
$yellow: #fbc02d;
$yellow-light: #fff263;

// body {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-family: Arial, Helvetica, sans-serif;
//     background-image: linear-gradient(to right top, #8a8a8a, #808080, #767676, #6c6c6c, #626262);
// }

h1,
h2,
h3 {
    margin: 2px;
    // display: inline-block;
    color: #1a1a1a;
}

h3 {
    font-size: 1.17em;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    // display: none;
}

.controls {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 10px;
    padding: 5px 25px;
    background: #FFFFFF;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
}

a.btn:active {
    background: #4554FF;
    color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.score {
    font-size: 40px;
    margin: 0 25px;
}

#container {
    position: relative;
    width: 530px;
    height: 530px;
    background: #313131;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #111;
}

.colors {
    width: 235px;
    height: 235px;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, .7),
        inset -2px -2px 8px 6px rgba(0, 0, 0, .3),
        inset 3px 3px 8px 5px rgba(255, 255, 255, .4);
}

.green {
    background: $green;
    border-top-left-radius: 100%;
    margin-top: 20px;
    margin-left: 20px;
}

.green:hover {
    background: $green-light;
}

.green.active {
    background: rgb(13, 255, 0)
}

.red {
    background: $red;
    border-top-right-radius: 100%;
    margin-top: 20px;
    margin-right: 20px;
}

.red:hover {
    background: $red-light;
}

.red.active {
    background: rgb(255, 0, 0)
}

.yellow {
    background: $yellow;
    border-bottom-left-radius: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.yellow:hover {
    background: $yellow-light;
}

.yellow.active {
    background: rgb(255, 247, 0)
}

.blue {
    background: $blue;
    border-bottom-right-radius: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.blue:hover {
    background: $blue-light;
}

.blue.active {
    background: rgb(30, 144, 255)
}

.colors:hover {
    cursor: pointer;
}


#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 2px 19px #313131;
    // box-shadow: 0 0 5px 2px #111;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 1.5em;
    font-size: 2em;
}

@media screen and (max-width: 550px) {

    #container,
    .leaderboard,
    .controls {
        transform: scale(0.65);
        // transform-origin: 0 0;
        // margin-left: -160px;
        // left: 50%;
    }
}
